bin
classes
test-output
coverage-output
reports
testplugin/target
katello-api.log
velocity.log
src/debug/*
scripts/*.pyc
.pydevproject
*private.sh
githash
.classpath
.project
.settings
.gradle
build
data/
